# .gitignore
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyz
*.pyzw
*.pyp
*.pyw
*.pyx
*.pxd
*.pxi
*.so
*.dll
*.dylib
*.lib
*.a
*.exe
*.out
*.o
*.lo
*.la
*.al
*.swp
*.swo
*.swn
*.swo
*.swn
*.bak
*.bak2
*.bak3
*.bak4
*.bak5
*.bak6
*.bak7
*.bak8
*.bak9
*.tmp
*.t
*.log
*.aux
*.dvi
*.blg
*.bbl
*.lof
*.lot
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.pdf
.DS_Store
.ipynb_checkpoints/
*.egg-info/
dist/
build/

.venv*/
.env
.pypirc

*.spec
.vscode/
coverage.xml
.coverage
